body {
  background-color: rgb(59, 63, 73);
}

h1 {
  color:rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-size: 62px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 30px;
}

h2 {
  color: white;
  text-align: left;
  font-size: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}


input[type='text'] {
  color: white;
  text-align: left;
  border:0cap;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.add-button {
  color: white;
  background-color: rgba(3, 230, 15, 0.897);
  border: 0cap;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.delete-button {
  color: white;
  background-color: red;
  border: 0cap;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.update-button {
  color: white;
  background-color: rgb(8, 106, 235);
  border: 0cap;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.add-button:hover {
  background-color: rgba(22, 94, 26, 0.897);
}

.delete-button:hover {
  background-color: rgb(139, 4, 4);
}

.update-button:hover {
  background-color: rgb(5, 65, 143);
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:100px;
}

input[type='text'] {
  color: black;
}

ul {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
  color:white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
